MATRIX_HOMESERVER=https://matrix.example.org
MATRIX_ROOM_ID=!roomid:example.org
MATRIX_ACCESS_TOKEN=your_access_token_here

APP_HOST=127.0.0.1
APP_PORT=10061
DATABASE_PATH=./database/database.sqlite3
LOG_DIR=./logs
